
<h1> Showing all Posts </h1>

<% @posts.each do  |post|%>
<%= post.title  %>
<%= post.description  %> <br>
<%= link_to post.title, post %>
<%= link_to  "Edit Post", edit_post_path(post) %>
<%= link_to  "Delete Post", post, method: :delete, data: {confirm: "Are you sure you want to delete your post?"}%>
<% end  %>
<% if signed_in? %>
<div class="text-right">
  <%= link_to "Crear Post", new_post_path, class: "btn btn-primary" %>
</div>
<% end %>


