
<% @posts.each do  |post|%>
<div class="allposts">

  <br> <br>
  <div>
    <span> <%= link_to post.title, post, class:"post-title"%> </span>
  </div>

  <p class="username"> Gracias <%= post.user.name %> para compartir este bonito lugar (fue publicado <%= post.created_at.strftime("%B %d, %Y") %>) </p>

  <div class="description">
    <span class="post-description"> <%= truncate(post.description, :length => 250 , :seperator => ' ') %></span> 
  </div>


  <% if signed_in? && post.user == current_user %>
  <br>
  <div class="glyphs">
    <%= link_to  "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_post_path(post) %>
    <%= link_to  "<span class='glyphicon glyphicon-trash'></span>".html_safe, post, method: :delete, data: {confirm: "¿Estas seugro que queires borrar el post?"}%>
  </div>
   
    <% end %>
    <% end %>



<% if signed_in? %>
<br>
<div class="text-center">
  <%= link_to "Nuevo Post", new_post_path, class: "btn btn-default" %>
</div>
<% end %>
<div>
<br> <br>

